# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Testes
.pytest_cache/
htmlcov/
.coverage

# Banco local
*.db
*.db-journal
database/backups_daily/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Env
.env
.env.local
